.git/
.vscode/
vendor/CMakeFiles/
vendor/cmake_install.cmake
vendor/CMakeCache.txt
vendor/Makefile
vendor/CPackConfig.cmake
vendor/CPackSourceConfig.cmake
vendor/libEngineLib.so
vendor/libEngineLib.dll
vendor/libEngineLib.dll.a